/*
COLORES BA
GRIS: #38485c
amarillo #ffdb2e
azul hover #007bc7

/* /////////////////////////////////////////////////////////////////// */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #fff;
    color: #38485c;
    font-family: "Quicksand", sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #38485c;
    font-weight: bold;
}

ul {
    list-style: none;
}

ul li {
    text-decoration: none;
}

.container{
    width: 85%;
    margin: auto;
}

/*navegacion*/

nav a:hover {
    text-decoration: underline;
}

.nav-bg {
    align-items: center;
    background-color: #38485c;
    height: 60px;
    margin-bottom: 15px;

}

.nav-main {
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding-top: 25px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    top: 0;
    left: 0; 
    width: 72%;
    margin: auto;
}

.nav-main ul {
    display: flex;
    align-items: center;
}

.nav-main ul li {
    padding: 10px;
}

.nav-main ul li a {
    color: white;
}


/* CARDS */

.pod-categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 30px;
    gap: 16px;
    text-align: center;
}

@media only screen and (min-width: 601px) and (max-width: 1020px) {
    .pod-categories{
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

.title {
    margin-bottom: 20px;
    grid-column: 1/-1;
}

h4 {
    margin-top: -40px;
    color: white;
    display: none;
    max-width: 200px;
    max-height: 200px;
}

/* .pod-categories div a:hover {
    text-decoration: underline;
} */

.bg {
    padding-bottom: 30px;
    margin-bottom: 50px;
    background-color:  #f4f4fc;
}

/*  CARD  */

.pod-card a img {
    width: 200px;
    height: 200px;
    border-radius: 10%;
}

.pod-card {
    display: grid;
    margin: auto;
    text-align: center;
    border-radius: 10%;
    /* max-width: 200px; */
}

.pod-card:hover {
    outline: 3px solid #007bc7;
    h4 {
        display: block;
        color: white;
        text-wrap: nowrap;
        overflow: hidden;
    }
}

/* .pod-card a:hover {
    color: #007bc7;
} */

/* FOOTER */

footer ul li a{
    color: #fff;
}

footer ul li a:hover {
  text-decoration: underline;
}

footer {
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
    background-color: #38485c;
    margin-top: 100px;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer ul {
    display: flex;
    margin: 0 auto;
}
 
footer ul li {
    padding: 30px;
}
