:root{
    /* Colores institucionales */
    --primary-color: #ffdb2e;
    --secondary-color:#fdede3;
    --third-color:#000000;
    --third-bis-color:#db4648f2;
    /*colores de fondo*/
    --bg-color:#38485c;
    --bg-input-color:#2f1b352c;
    /*fuente primaria*/
    --primary-font: "Arial";
    --secondary-font: "Helvetica";
    /* Arial, sans-serif, Helvetica; */
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Formato fondo de la pagina y el color del texto */
body{
    background-color: #fff;
    color: #38485c;
    font-family: "Quicksand", sans-serif;
    box-sizing: border-box;
}

/* Formato de los enlaces */
a {
    text-decoration: none;
    color: #38485c;
    font-weight: bold;
}

ul {
    list-style: none;
}

ul li {
    text-decoration: none; 
    /* Le quita el punto de listado a la lista de las ul */
}


/* Margenes laterales del contenido */
.container{
    width: 90%;
    margin: auto;
}

/* Efecto de subrayado al pasar por encima del texto */
nav a:hover {
    text-decoration: underline;
    color: #007bc7;
}

/* Formato para organizar posición de la barra superior */
.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 50px 0;
}

/* Formato en linea de las opciones de la barra superior en vez de colocarlas una debajo de la otra */
.nav-main ul {
    display: flex;
}

/* Agrega espacio solamente a las opciones ubicadas en el la parte derecha de la barra sin afectar el boton de inicio ubicado en el lado izquierdo */
.nav-main ul li {
    padding: 1em;
}

/* FORMATO TITULO FORMULARIO */

.formulario h1 {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: var(--third-color);
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;

}

/* Formato "Formulario de contacto" */
.formulario h1 {
    margin-bottom: 30px;
    margin-top: 100px;
    color: var(--third-color);

    justify-content: center; /* alineacion central */
    align-items: center; /* alineación vertical */
    align-content: center;
}

/* FOOTER */

/* FORMATO FOOTER */
footer ul li a:hover {
    text-decoration: underline;
}

footer {
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 60px 0;
}

/* Coloca las opciones de lista en linea y no una debajo de la otra */
footer ul {
    display: flex;
    margin: 0 auto;
}

/* Agrega espacio entre las opciones */
footer ul li {
    padding: 30px;
}

/* FORTMATO FORMULARIO */
label{
    display:inline-flexbox; 
    float: center; 	
}

/* FORMATO BOTON DE ENVIAR */
button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px; 	
    margin-bottom: 20px; 
    margin-top: 10px; 	
    text-transform: uppercase;
    background-color: var(--primary-color); 
    border-color: var(--third-color);
    border-style: solid; 
    border-radius: 10px;	
    width: 420px;   
    cursor: pointer;
}

/* FORMATO TEXTO ENVIAR */
button p{
    color: var(--third-color); 
}

span{
    color:var(--primary-color); 
}

.aviso{
    font-size: 13px;  
    color: var(--secondary-color);  
}

h1{
    font-size: 39px;  
    text-align: letf; 
    padding-bottom: 20px; 
    color: var(--primary-color);
    align-content: center;
}

h3{
    font-size: 16px; 
    padding-bottom: 30px;
    color: var(--primary-color);   
}


p{
    font-size: 14px; 
    color: var(--secondary-color); 
}


::-webkit-input-placeholder {
 color:var(--bg-color);
}


::-webkit-textarea-placeholder {
 color:var(--third-bis-color);
}


.formulario input:focus{
    outline:0;
    border: 1px solid #97d848;
}


.formulario textarea:focus{
    outline:0;
    border: 1px solid #97d848;
}

/* AGREGADO PARA PROBAR MEDIA QUERIES - CUALQUIER ERROR RESPECTO A ESO BORRAR DESDE ESTE COMENTARIO HASTA ABAJO */

.pod-categories {
      
  display: flex;
  flex-direction: row;/* dirección del eje principal, por defecto siempre es horizontal */
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; /* rompe la formacion y permite reorddenamiento multilinea */

  height: 100%;
  /* background-color: lightblue; */
}

.pod-index {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
/* border: 2px solid black; */  /* espesor tipo_de_linea color */
/* background-color: lightgrey; */
}

/* Zona de las Medias Queries ------- Adaptar el contenido a formatos de pantalla mas pequeños */

@media only screen and (max-width: 600px) {
  
  .pod-categories {
      flex-direction: column;
    background-color: lightgreen;
  }
 
  .pod-index {
      height: calc(80vh/5.5);
      width: calc(80vh/5.5);
      background-color: lightsalmon;
  }
}


@media only screen and (min-width: 601px) and (max-width: 1020px) {
  .pod-categories {
      /* background-color: lightyellow; */
      align-content: space-evenly; /*espacios iguales*/
   }
 
   .pod-index {
     width: 150px; /* Ancho de los elementos */
     height: 150px; /* Altura de los elementos */
     /* background-color: lightseagreen; */
   }
}